@model Fudge_it.Models.Expense

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Expense?</h3>
<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recurring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recurring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hhExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hhExpense)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Dashboard">Back to the Dashboard</a>
    </form>
</div>
